<ion-view view-title="Gen. 1" id="bright">
<div>
  <ion-pane>
    <ion-content>
      <div class="list list-inset">
        <!-- creates drop down selection for primary typing-->
        <label class="item item-input item-select" id="type-selection">
          <div class="input-label" id="type-selection" >Type 1:</div>
          <select ng-model="selecType1" id="type-selection">
            <option value="" selected >Choose a type</option>
            <option ng-repeat="type in Types">{{type.name}}</option>
          </select>
        </label>
        <!-- creates drop down for secondary typing, none is now an option-->
        <label class="item item-input item-select" id="type-selection">
          <div class="input-label" id="type-selection">Type 2:</div>
          <select ng-model="selecType2" id="type-selection">
            <option value="" selected>None</option>
            <option ng-repeat="type in Types">{{type.name}}</option>
          </select>
        </label>
      </div>
      <!-- creates a button to set selected types-->
      <div id="h1">
        <button class="button button-outline"
        ng-click="calculateAll(selecType1,selecType2)" id="calc-button">
          CALCULATE
        </button>
      </div>
      <!-- cards for imm, weak, and res-->
      <div class="card">
        <div class="item" id="immune-card">Immune To:</div>
      </div>
      <div class="list">
        <div class="item" id="immune" ng-repeat="types in immunities">
          {{types}}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="item item-text-wrap" id="resist-card">Resists:</div>
          </div>
          <div class="list">
            <div class="item" id="very-resist" ng-repeat="types in veryResist">
              {{types}} *
            </div>
            <div class="item" id="resist" ng-repeat="types in resistances">
              {{types}}
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="item item-text-wrap" id="weak-card">Weak To:</div>
          </div>
          <div class="list">
            <div class="item" id="very-weak" ng-repeat="types in veryWeak">
              {{types}} *
            </div>
            <div class="item" id="weak" ng-repeat="types in weaknesses">
              {{types}}
            </div>
          </div>
      </div>
    </ion-content>
  </ion-pane>
</div>
</ion-view>
