<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="typeCalculator">
    <div ng-controller="TypeCtrl">
    <ion-pane>
      <ion-header-bar class="bar-calm">
        <h1 class="title">Type Calculator</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list list-inset">
          <!-- creates drop down selection for primary typing-->
          <label class="item item-input item-select">
            <div class="input-label">Type 1:</div>
            <select ng-model="selectedType1">
              <option value="" selected>Choose a type</option>
              <option ng-repeat="type in Types">{{type.name}}</option>
            </select>
          </label>
          <!-- creates drop down for secondary typing, none is now an option-->
          <label class="item item-input item-select">
            <div class="input-label">Type 2:</div>
            <select ng-model="selectedType2">
              <option value="" selected>None</option>
              <option ng-repeat="type in Types">{{type.name}}</option>
            </select>
          </label>
        </div>
        <!-- creates a button to set selected types-->
        <button class="button button-block button-assertive"
        ng-click="setTypes(selectedType1,selectedType2)">
          Submit
        </button>
        <!-- for testing purposes-->
        <div class="list list-inset">
          <div class="item">
            {{getType1()}} {{getType2()}}
          </div>
        </div>
        <div class="card">
          <div class="item" id="h1">Immune To:</div>
        </div>
        <div class"list">
          <div class="item" ng-repeat="types in getType1imm()">
            {{types.name}}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="item item-text-wrap">Resists:</div>
            </div>
            <div class="list">
              <div class="item" ng-repeat="types in getType1().resists track by $index">
                {{types.name}}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="item item-text-wrap">Weak To:</div>
            </div>
            <div class="list">
              <div class="item" ng-repeat="types in getType1weak() track by $index">
                {{types.name}}
              </div>
            </div>
        </div>
      </ion-content>
    </ion-pane>
    </div>
  </body>
</html>
